.card-image {
    width: 100%;      /* ให้ความกว้างเต็มขนาดของ Card */
    height: 30vh;     /* ให้ความสูงเต็มขนาดของ Card */
    object-fit: contain ; /* รูปภาพจะถูกปรับขนาดและครอบคลุม Card โดยไม่เบี้ยว */
  }